@import url('http://fonts.googleapis.com/css?family=Open+Sans:700');

html {
  color: rgba(0,0,0, 0.87);
  font-size: 1em;
  line-height: 1.4; }

  body {
	margin: 10px;
	padding: 0;
	font-family: 'Open Sans', Helvetica, Sans-serif;

	background-image: url("img/background.png");
	background-repeat: no-repeat;
	background-size: 88%;
	background-position: absolute;
	width: 100%;
}


.container{
	width: 100%;
}


.image1 {
	position: absolute;
	width: 35%;
	margin-top: 200px;
	margin-left: 110px;
}
.image1:hover
{
-webkit-animation: spin1 2s infinite linear;
-moz-animation: spin1 2s infinite linear;
-o-animation: spin1 2s infinite linear;
-ms-animation: spin1 2s infinite linear;
animation: spin1 2s infinite linear;
}

@-webkit-keyframes spin1 {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes spin1 {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
}


